import UIKit
import Capacitor

class LariaBridgeViewController: CAPBridgeViewController {
    override open func capacitorDidLoad() {
        bridge?.registerPluginInstance(LariaStorePlugin())
    }
}
